In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from datetime import datetime

In [16]:
datos_2013 = pd.read_csv('datos/datos-2013.csv', encoding='latin1',on_bad_lines='skip', sep=';')
datos_2014 = pd.read_csv('datos/datos-2014.csv', encoding='latin1',on_bad_lines='skip', sep=';')
datos_2015 = pd.read_csv('datos/datos-2015.csv', encoding='latin1',on_bad_lines='skip', sep=';')
datos_2016 = pd.read_csv('datos/datos-2016.csv', encoding='latin1',on_bad_lines='skip', sep=';')
datos_2017 = pd.read_csv('datos/datos-2017.csv', encoding='latin1',on_bad_lines='skip', sep=';')
datos_2018 = pd.read_csv('datos/datos-2018.csv', encoding='latin1',on_bad_lines='skip', sep=';')
datos_2019 = pd.read_csv('datos/datos-2019.csv', encoding='latin1',on_bad_lines='skip', sep=';')
datos_2020 = pd.read_csv('datos/datos-2020.csv', encoding='latin1',on_bad_lines='skip', sep=';')
datos_2021 = pd.read_csv('datos/datos-2021.csv', encoding='latin1',on_bad_lines='skip', sep=';')

In [31]:
datos_2013.head()

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC,"0,00","0,00","1297,13","0,00",31/12/2013,2013
1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,"0,00","0,00","26666621,42","0,00",31/12/2013,2013
2,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS E JUROS DE MORA,"0,00","0,00","301251,13","0,00",31/12/2013,2013
3,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIV.ATIVA POR INFRAÇÃO ADMINISTRATIVA,"0,00","0,00","1855,58","0,00",31/12/2013,2013
4,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",OUTRAS RESTITUICOES,"0,00","0,00","52140,68","0,00",31/12/2013,2013

In [32]:
datos_2013.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4498 entries, 0 to 4497
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CÓDIGO ÓRGÃO SUPERIOR      4498 non-null   int64
 1   NOME ÓRGÃO SUPERIOR        4498 non-null   object
 2   CÓDIGO ÓRGÃO               4498 non-null   int64
 3   NOME ÓRGÃO                 4498 non-null   object
 4   CÓDIGO UNIDADE GESTORA     4498 non-null   int64
 5   NOME UNIDADE GESTORA       4498 non-null   object
 6   CATEGORIA ECONÔMICA        4498 non-null   object
 7   ORIGEM RECEITA             4498 non-null   object
 8   ESPÉCIE RECEITA            4498 non-null   object
 9   DETALHAMENTO               4498 non-null   object
 10  VALOR PREVISTO ATUALIZADO  4498 non-null   object
 11  VALOR LANÇADO              4498 non-null   object
 12  VALOR REALIZADO            4498 non-null   object
 13  PERCENTUAL REALIZADO       4498 non-null   object
 14  DATA LANÇAMENTO            4498 non-null   object
 15  ANO EXERCÍCIO              4498 non-null   int64
dtypes: int64(4), object(12)
memory usage: 562.4+ KB

In [33]:
datos_2013.columns

Index(['CÓDIGO ÓRGÃO SUPERIOR', 'NOME ÓRGÃO SUPERIOR', 'CÓDIGO ÓRGÃO',
       'NOME ÓRGÃO', 'CÓDIGO UNIDADE GESTORA', 'NOME UNIDADE GESTORA',
       'CATEGORIA ECONÔMICA', 'ORIGEM RECEITA', 'ESPÉCIE RECEITA',
       'DETALHAMENTO', 'VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO',
       'VALOR REALIZADO', 'PERCENTUAL REALIZADO', 'DATA LANÇAMENTO',
       'ANO EXERCÍCIO'],
      dtype='object')

In [34]:
columnas_traducidas = [
    'codigo_organo_superior',
    'nombre_organo_superior',
    'codigo_organo',
    'nombre_organo',
    'codigo_unidad_gestora',
    'nombre_unidad_gestora',
    'categoria_economica',
    'origen_ingreso',
    'especie_ingreso',
    'detallamiento',
    'valor_previsto_actualizado',
    'valor_lanzado',
    'valor_realizado',
    'porcentaje_realizado',
    'fecha_lanzamiento',
    'ano_ejercicio'
]

In [37]:
datos_2013.columns = columnas_traducidas
datos_2014.columns = columnas_traducidas
datos_2015.columns = columnas_traducidas
datos_2016.columns = columnas_traducidas
datos_2017.columns = columnas_traducidas
datos_2018.columns = columnas_traducidas
datos_2019.columns = columnas_traducidas
datos_2020.columns = columnas_traducidas
datos_2021.columns = columnas_traducidas

In [38]:
datos_2013.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4498 entries, 0 to 4497
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   codigo_organo_superior      4498 non-null   int64
 1   nombre_organo_superior      4498 non-null   object
 2   codigo_organo               4498 non-null   int64
 3   nombre_organo               4498 non-null   object
 4   codigo_unidad_gestora       4498 non-null   int64
 5   nombre_unidad_gestora       4498 non-null   object
 6   categoria_economica         4498 non-null   object
 7   origen_ingreso              4498 non-null   object
 8   especie_ingreso             4498 non-null   object
 9   detallamiento               4498 non-null   object
 10  valor_previsto_actualizado  4498 non-null   object
 11  valor_lanzado               4498 non-null   object
 12  valor_realizado             4498 non-null   object
 13  porcentaje_realizado        4498 non-null   object
 14  fecha_lanzamiento           4498 non-null   object
 15  ano_ejercicio               4498 non-null   int64
dtypes: int64(4), object(12)
memory usage: 562.4+ KB

In [39]:
datos_2014.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4553 entries, 0 to 4552
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   codigo_organo_superior      4553 non-null   int64
 1   nombre_organo_superior      4553 non-null   object
 2   codigo_organo               4553 non-null   int64
 3   nombre_organo               4553 non-null   object
 4   codigo_unidad_gestora       4553 non-null   int64
 5   nombre_unidad_gestora       4553 non-null   object
 6   categoria_economica         4553 non-null   object
 7   origen_ingreso              4553 non-null   object
 8   especie_ingreso             4553 non-null   object
 9   detallamiento               4553 non-null   object
 10  valor_previsto_actualizado  4553 non-null   object
 11  valor_lanzado               4553 non-null   object
 12  valor_realizado             4553 non-null   object
 13  porcentaje_realizado        4553 non-null   object
 14  fecha_lanzamiento           4553 non-null   object
 15  ano_ejercicio               4553 non-null   int64
dtypes: int64(4), object(12)
memory usage: 569.2+ KB

In [40]:
datos_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4523 entries, 0 to 4522
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   codigo_organo_superior      4523 non-null   int64
 1   nombre_organo_superior      4523 non-null   object
 2   codigo_organo               4523 non-null   int64
 3   nombre_organo               4523 non-null   object
 4   codigo_unidad_gestora       4523 non-null   int64
 5   nombre_unidad_gestora       4523 non-null   object
 6   categoria_economica         4523 non-null   object
 7   origen_ingreso              4523 non-null   object
 8   especie_ingreso             4523 non-null   object
 9   detallamiento               4523 non-null   object
 10  valor_previsto_actualizado  4523 non-null   object
 11  valor_lanzado               4523 non-null   object
 12  valor_realizado             4523 non-null   object
 13  porcentaje_realizado        4523 non-null   object
 14  fecha_lanzamiento           4523 non-null   object
 15  ano_ejercicio               4523 non-null   int64
dtypes: int64(4), object(12)
memory usage: 565.5+ KB

In [41]:
df_final = pd.concat([datos_2013,datos_2014,datos_2015,datos_2016,datos_2017,datos_2018,datos_2019,datos_2020,datos_2021])

In [42]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1026299 entries, 0 to 134592
Data columns (total 16 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   codigo_organo_superior      1026299 non-null  int64
 1   nombre_organo_superior      1026299 non-null  object
 2   codigo_organo               1026299 non-null  int64
 3   nombre_organo               1026299 non-null  object
 4   codigo_unidad_gestora       1026299 non-null  int64
 5   nombre_unidad_gestora       1026299 non-null  object
 6   categoria_economica         1026299 non-null  object
 7   origen_ingreso              1026299 non-null  object
 8   especie_ingreso             1026299 non-null  object
 9   detallamiento               1026299 non-null  object
 10  valor_previsto_actualizado  1026299 non-null  object
 11  valor_lanzado               1026299 non-null  object
 12  valor_realizado             1026299 non-null  object
 13  porcentaje_realizado        1026299 non-null  object
 14  fecha_lanzamiento           1025721 non-null  object
 15  ano_ejercicio               1026299 non-null  int64
dtypes: int64(4), object(12)
memory usage: 133.1+ MB

In [43]:
datos_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194533 entries, 0 to 194532
Data columns (total 16 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   codigo_organo_superior      194533 non-null  int64
 1   nombre_organo_superior      194533 non-null  object
 2   codigo_organo               194533 non-null  int64
 3   nombre_organo               194533 non-null  object
 4   codigo_unidad_gestora       194533 non-null  int64
 5   nombre_unidad_gestora       194533 non-null  object
 6   categoria_economica         194533 non-null  object
 7   origen_ingreso              194533 non-null  object
 8   especie_ingreso             194533 non-null  object
 9   detallamiento               194533 non-null  object
 10  valor_previsto_actualizado  194533 non-null  object
 11  valor_lanzado               194533 non-null  object
 12  valor_realizado             194533 non-null  object
 13  porcentaje_realizado        194533 non-null  object
 14  fecha_lanzamiento           194451 non-null  object
 15  ano_ejercicio               194533 non-null  int64
dtypes: int64(4), object(12)
memory usage: 23.7+ MB

In [44]:
datos_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190479 entries, 0 to 190478
Data columns (total 16 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   codigo_organo_superior      190479 non-null  int64
 1   nombre_organo_superior      190479 non-null  object
 2   codigo_organo               190479 non-null  int64
 3   nombre_organo               190479 non-null  object
 4   codigo_unidad_gestora       190479 non-null  int64
 5   nombre_unidad_gestora       190479 non-null  object
 6   categoria_economica         190479 non-null  object
 7   origen_ingreso              190479 non-null  object
 8   especie_ingreso             190479 non-null  object
 9   detallamiento               190479 non-null  object
 10  valor_previsto_actualizado  190479 non-null  object
 11  valor_lanzado               190479 non-null  object
 12  valor_realizado             190479 non-null  object
 13  porcentaje_realizado        190479 non-null  object
 14  fecha_lanzamiento           190393 non-null  object
 15  ano_ejercicio               190479 non-null  int64
dtypes: int64(4), object(12)
memory usage: 23.3+ MB

In [45]:
datos_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173944 entries, 0 to 173943
Data columns (total 16 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   codigo_organo_superior      173944 non-null  int64
 1   nombre_organo_superior      173944 non-null  object
 2   codigo_organo               173944 non-null  int64
 3   nombre_organo               173944 non-null  object
 4   codigo_unidad_gestora       173944 non-null  int64
 5   nombre_unidad_gestora       173944 non-null  object
 6   categoria_economica         173944 non-null  object
 7   origen_ingreso              173944 non-null  object
 8   especie_ingreso             173944 non-null  object
 9   detallamiento               173944 non-null  object
 10  valor_previsto_actualizado  173944 non-null  object
 11  valor_lanzado               173944 non-null  object
 12  valor_realizado             173944 non-null  object
 13  porcentaje_realizado        173944 non-null  object
 14  fecha_lanzamiento           173829 non-null  object
 15  ano_ejercicio               173944 non-null  int64
dtypes: int64(4), object(12)
memory usage: 21.2+ MB

In [46]:
datos_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142348 entries, 0 to 142347
Data columns (total 16 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   codigo_organo_superior      142348 non-null  int64
 1   nombre_organo_superior      142348 non-null  object
 2   codigo_organo               142348 non-null  int64
 3   nombre_organo               142348 non-null  object
 4   codigo_unidad_gestora       142348 non-null  int64
 5   nombre_unidad_gestora       142348 non-null  object
 6   categoria_economica         142348 non-null  object
 7   origen_ingreso              142348 non-null  object
 8   especie_ingreso             142348 non-null  object
 9   detallamiento               142348 non-null  object
 10  valor_previsto_actualizado  142348 non-null  object
 11  valor_lanzado               142348 non-null  object
 12  valor_realizado             142348 non-null  object
 13  porcentaje_realizado        142348 non-null  object
 14  fecha_lanzamiento           142262 non-null  object
 15  ano_ejercicio               142348 non-null  int64
dtypes: int64(4), object(12)
memory usage: 17.4+ MB

In [47]:
datos_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134593 entries, 0 to 134592
Data columns (total 16 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   codigo_organo_superior      134593 non-null  int64
 1   nombre_organo_superior      134593 non-null  object
 2   codigo_organo               134593 non-null  int64
 3   nombre_organo               134593 non-null  object
 4   codigo_unidad_gestora       134593 non-null  int64
 5   nombre_unidad_gestora       134593 non-null  object
 6   categoria_economica         134593 non-null  object
 7   origen_ingreso              134593 non-null  object
 8   especie_ingreso             134593 non-null  object
 9   detallamiento               134593 non-null  object
 10  valor_previsto_actualizado  134593 non-null  object
 11  valor_lanzado               134593 non-null  object
 12  valor_realizado             134593 non-null  object
 13  porcentaje_realizado        134593 non-null  object
 14  fecha_lanzamiento           134470 non-null  object
 15  ano_ejercicio               134593 non-null  int64
dtypes: int64(4), object(12)
memory usage: 16.4+ MB

In [49]:
df_final['fecha_lanzamiento'] = pd.to_datetime(df_final['fecha_lanzamiento'], dayfirst=True)

In [51]:
df_final['fecha_lanzamiento'] = df_final['fecha_lanzamiento'].ffill()

In [52]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1026299 entries, 0 to 134592
Data columns (total 16 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   codigo_organo_superior      1026299 non-null  int64
 1   nombre_organo_superior      1026299 non-null  object
 2   codigo_organo               1026299 non-null  int64
 3   nombre_organo               1026299 non-null  object
 4   codigo_unidad_gestora       1026299 non-null  int64
 5   nombre_unidad_gestora       1026299 non-null  object
 6   categoria_economica         1026299 non-null  object
 7   origen_ingreso              1026299 non-null  object
 8   especie_ingreso             1026299 non-null  object
 9   detallamiento               1026299 non-null  object
 10  valor_previsto_actualizado  1026299 non-null  object
 11  valor_lanzado               1026299 non-null  object
 12  valor_realizado             1026299 non-null  object
 13  porcentaje_realizado        1026299 non-null  object
 14  fecha_lanzamiento           1026299 non-null  datetime64[ns]
 15  ano_ejercicio               1026299 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(11)
memory usage: 133.1+ MB

In [53]:
df_final.head(5)

,codigo_organo_superior,nombre_organo_superior,codigo_organo,nombre_organo,codigo_unidad_gestora,nombre_unidad_gestora,categoria_economica,origen_ingreso,especie_ingreso,detallamiento,valor_previsto_actualizado,valor_lanzado,valor_realizado,porcentaje_realizado,fecha_lanzamiento,ano_ejercicio
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC,"0,00","0,00","1297,13","0,00",2013-12-31,2013
1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,"0,00","0,00","26666621,42","0,00",2013-12-31,2013
2,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS E JUROS DE MORA,"0,00","0,00","301251,13","0,00",2013-12-31,2013
3,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIV.ATIVA POR INFRAÇÃO ADMINISTRATIVA,"0,00","0,00","1855,58","0,00",2013-12-31,2013
4,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",OUTRAS RESTITUICOES,"0,00","0,00","52140,68","0,00",2013-12-31,2013